Repository foxhable/simplex-imap: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint ./src/. --fix

ci: move npmrc to publish action
  .github/workflows/publish.yml
  .npmrc
Due: none

chore: add .npmrc
  .github/workflows/publish.yml
  .npmrc
Due: none

chore: change name of package
  package.json
Due: prettier --write

0.0.1-beta.1
  package.json
Due: prettier --write

chore: remove github npm registry
  .npmrc
  package.json
Due: prettier --write

chore: move utf-7 to deps from dev deps
  package.json
Due: prettier --write

chore: update pnpm version up to 10.8.0
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: change github registry onto npm
  .github/workflows/publish.yml
Due: none

ci: add .npmrc for authentication to npm
  .github/workflows/publish.yml
  .npmrc
Due: none

ci: changing version in package when publish
  .github/workflows/publish.yml
Due: none

ci: fix issue with command order in publish.yml
  .github/workflows/publish.yml
Due: none

chore: allow esbuild while pnpm install
  pnpm-workspace.yaml
Due: none

ci: remove .npmrc
  .npmrc
Due: none

ci: add creating npmrc during publish ci script
  .github/workflows/publish.yml
Due: none

chore: add concurrently package and change build scripts
  package.json
  pnpm-lock.yaml
  tsconfig.build.json
Due: prettier --write

fix: issue when passing credentials with spaces
  src/main/methods/login/login.ts
Due: prettier --write, eslint ./src/. --fix

refactor: replace all custom errors by one custom error IMAPError
  src/base/functions/parser.ts
  src/base/general/error.ts
  src/base/main.ts
  src/logger/main.ts
  src/main/general/error.ts
  src/main/methods/fetch/fetchResponseParser.ts
  src/main/methods/login/login.ts
  src/main/methods/mailboxes/mailboxes.ts
  src/main/methods/search/search.ts
  src/main/methods/select/select.ts
  src/main/methods/unselect/unselect.ts
Due: prettier --write, eslint ./src/. --fix

refactor: change type of log additional data
  src/base/main.ts
  src/logger/main.ts
Due: prettier --write, eslint ./src/. --fix

fix: import of logger/main from types
  src/base/types/index.ts
Due: prettier --write, eslint ./src/. --fix

refactor: remove log from test file
  src/main/methods/fetch/__tests__/fetchConfigParser.test.ts
Due: prettier --write, eslint ./src/. --fix

chore: update tsc-alias up to v1.8.15
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: rename base to 'low-level-imap'
  src/low-level-imap/functions/parser.test.ts
  src/low-level-imap/functions/parser.ts
  src/low-level-imap/main.ts
  src/low-level-imap/types/connection.ts
  src/low-level-imap/types/general.ts
  src/low-level-imap/types/index.ts
  src/low-level-imap/types/methods.ts
  src/low-level-imap/types/response.ts
  src/low-level-imap/utf7.d.ts
  src/main.ts
  src/main/methods/fetch/fetch.ts
  src/main/methods/login/login.ts
  src/main/methods/search/search.ts
  src/main/methods/select/select.ts
  src/main/methods/unselect/unselect.ts
Due: prettier --write, eslint ./src/. --fix

chore: fix ignoring lib folder from inner folders
  .gitignore
  .prettierignore
  tsconfig.build.json
  tsconfig.json
Due: prettier --write

refactor: split fetchResponseParser on folder
  src/simplex-imap/methods/fetch/fetchResponseParser.ts
  src/simplex-imap/methods/fetch/response-parser/__tests__/addressParser.test.ts
  src/simplex-imap/methods/fetch/response-parser/__tests__/fetchResponseParser.test.ts
  src/simplex-imap/methods/fetch/response-parser/fetchResponseParser.ts
  src/simplex-imap/methods/fetch/response-parser/index.ts
  src/simplex-imap/methods/fetch/response-parser/lib/parseAddress.ts
  src/simplex-imap/methods/fetch/response-parser/lib/parseBody.ts
  src/simplex-imap/methods/fetch/response-parser/lib/parseContentType.ts
  src/simplex-imap/methods/fetch/response-parser/lib/parseEnvelope.ts
  src/simplex-imap/methods/fetch/response-parser/lib/parseFlags.ts
  src/simplex-imap/methods/fetch/response-parser/lib/parseHeaders.ts
  src/simplex-imap/methods/fetch/response-parser/lib/parseInternalDate.ts
  src/simplex-imap/methods/fetch/response-parser/lib/parseSize.ts
  src/simplex-imap/methods/fetch/response-parser/lib/parseUID.ts
  src/simplex-imap/methods/fetch/types.ts
  src/simplex-imap/methods/types.ts
Due: prettier --write, eslint ./src/. --fix

refactor: split fetchConfigParser to folder
  src/simplex-imap/classes/Mailbox/Message.ts
  src/simplex-imap/classes/Mailbox/SelectedMailbox.ts
  src/simplex-imap/methods/fetch/config-parser/__tests__/fetchConfigParser.test.ts
  src/simplex-imap/methods/fetch/config-parser/fetchConfigParser.ts
  src/simplex-imap/methods/fetch/config-parser/index.ts
  src/simplex-imap/methods/fetch/config-parser/lib/parseSectionAndPartial.ts
  src/simplex-imap/methods/fetch/config-parser/model/FetchConfig.ts
  src/simplex-imap/methods/fetch/config-parser/types.ts
  src/simplex-imap/methods/fetch/fetch.ts
  src/simplex-imap/methods/fetch/response-parser/index.ts
  src/simplex-imap/methods/fetch/response-parser/types.ts
  src/simplex-imap/methods/fetch/types.ts
  src/simplex-imap/methods/types.ts
Due: prettier --write, eslint ./src/. --fix

refactor: rename 'general' folder to 'shared'
  src/simplex-imap/classes/Mailbox/SelectedMailbox.ts
  src/simplex-imap/methods/fetch/fetch.ts
  src/simplex-imap/methods/search/search.test.ts
  src/simplex-imap/methods/search/search.ts
  src/simplex-imap/methods/search/types.ts
  src/simplex-imap/shared/date/date.test.ts
  src/simplex-imap/shared/date/date.ts
  src/simplex-imap/shared/sequenceSet/sequenceSet.test.ts
  src/simplex-imap/shared/sequenceSet/sequenceSet.ts
  src/simplex-imap/shared/types.ts
  src/simplex-imap/types.ts
Due: prettier --write, eslint ./src/. --fix

refactor: re-exports of shared folder
  src/simplex-imap/classes/Mailbox/SelectedMailbox.ts
  src/simplex-imap/methods/fetch/fetch.ts
  src/simplex-imap/methods/search/search.test.ts
  src/simplex-imap/methods/search/search.ts
  src/simplex-imap/methods/search/types.ts
  src/simplex-imap/methods/types.ts
  src/simplex-imap/shared/date/__tests__/date.test.ts
  src/simplex-imap/shared/date/date.ts
  src/simplex-imap/shared/date/index.ts
  src/simplex-imap/shared/date/types.ts
  src/simplex-imap/shared/sequenceSet/__tests__/sequenceSet.test.ts
  src/simplex-imap/shared/sequenceSet/index.ts
  src/simplex-imap/shared/sequenceSet/types.ts
  src/simplex-imap/shared/types.ts
  src/simplex-imap/types.ts
Due: prettier --write, eslint ./src/. --fix

refactor: split mailboxes.ts by files and folders
  src/main.ts
  src/simplex-imap/methods/mailboxes/__tests__/mailboxes.test.ts
  src/simplex-imap/methods/mailboxes/index.ts
  src/simplex-imap/methods/mailboxes/lib/parseMailbox.ts
  src/simplex-imap/methods/mailboxes/mailboxes.ts
  src/simplex-imap/methods/mailboxes/types.ts
  src/simplex-imap/methods/types.ts
Due: prettier --write, eslint ./src/. --fix

feat: index to fetch method module
  src/main.ts
  src/simplex-imap/methods/fetch/index.ts
Due: prettier --write, eslint ./src/. --fix

refactor: split select method on files and folders
  src/main.ts
  src/simplex-imap/methods/select/__tests__/select.test.ts
  src/simplex-imap/methods/select/index.ts
  src/simplex-imap/methods/select/lib/parseSelect.ts
  src/simplex-imap/methods/select/select.ts
  src/simplex-imap/methods/select/types.ts
  src/simplex-imap/methods/types.ts
Due: prettier --write, eslint ./src/. --fix

refactor: split unselect method on files and folders
  src/main.ts
  src/simplex-imap/classes/Mailbox/SelectedMailbox.ts
  src/simplex-imap/methods/types.ts
  src/simplex-imap/methods/unselect/index.ts
  src/simplex-imap/methods/unselect/types.ts
  src/simplex-imap/methods/unselect/unselect.ts
Due: prettier --write, eslint ./src/. --fix

refactor: split search method on files and folders
  src/main.ts
  src/simplex-imap/methods/search/__tests__/search.test.ts
  src/simplex-imap/methods/search/filter-parser/index.ts
  src/simplex-imap/methods/search/filter-parser/lib/parseContentFilter.ts
  src/simplex-imap/methods/search/filter-parser/lib/parseDateFilter.ts
  src/simplex-imap/methods/search/filter-parser/lib/parseFlagsFilter.ts
  src/simplex-imap/methods/search/filter-parser/lib/parseHeadersFilter.ts
  src/simplex-imap/methods/search/filter-parser/lib/parseLogicalFilter.ts
  src/simplex-imap/methods/search/filter-parser/lib/parsePropsFilter.ts
  src/simplex-imap/methods/search/filter-parser/parseSearchFilter.ts
  src/simplex-imap/methods/search/filter-parser/types.ts
  src/simplex-imap/methods/search/index.ts
  src/simplex-imap/methods/search/lib/parseSearchResponse.ts
  src/simplex-imap/methods/search/model/HeaderFields.ts
  src/simplex-imap/methods/search/search.ts
  src/simplex-imap/methods/search/types.ts
  src/simplex-imap/methods/types.ts
Due: prettier --write, eslint ./src/. --fix

refactor: rename parseSelect to parseSelectResponse
  src/simplex-imap/methods/select/__tests__/select.test.ts
  src/simplex-imap/methods/select/lib/parseSelectResponse.ts
  src/simplex-imap/methods/select/select.ts
  src/simplex-imap/methods/select/types.ts
Due: prettier --write, eslint ./src/. --fix

fix: imports in SelectedMailbox
  src/simplex-imap/classes/Mailbox/SelectedMailbox.ts
Due: prettier --write, eslint ./src/. --fix

refactor: remove use of global types in inner files
  src/simplex-imap/classes/Mailbox/Mailbox.ts
  src/simplex-imap/methods/fetch/fetch.ts
  src/simplex-imap/methods/search/filter-parser/parseSearchFilter.ts
Due: prettier --write, eslint ./src/. --fix

refactor: login method folder
  src/main.ts
  src/simplex-imap/methods/login/index.ts
Due: prettier --write, eslint ./src/. --fix

refactor: move Message types to fetch subfolders
  src/simplex-imap/classes/Mailbox/index.ts
  src/simplex-imap/classes/Message/Message.ts
  src/simplex-imap/classes/Message/index.ts
  src/simplex-imap/classes/Message/types.ts
  src/simplex-imap/classes/types.ts
  src/simplex-imap/methods/fetch/response-parser/__tests__/fetchResponseParser.test.ts
  src/simplex-imap/methods/fetch/response-parser/fetchResponseParser.ts
  src/simplex-imap/methods/fetch/response-parser/index.ts
  src/simplex-imap/methods/fetch/response-parser/lib/parseHeaders.ts
  src/simplex-imap/methods/fetch/response-parser/model/MessageFlag.ts
  src/simplex-imap/methods/fetch/response-parser/types.ts
  src/simplex-imap/methods/search/search.ts
Due: prettier --write, eslint ./src/. --fix

refactor: move class Mailbox to entities folder
  src/main.ts
  src/simplex-imap/classes/Mailbox/index.ts
  src/simplex-imap/classes/types.ts
  src/simplex-imap/entities/mailbox/class/Mailbox.ts
  src/simplex-imap/entities/mailbox/class/SelectedMailbox.ts
  src/simplex-imap/entities/mailbox/index.ts
  src/simplex-imap/entities/mailbox/model/MailboxAttribute.ts
  src/simplex-imap/entities/mailbox/model/MailboxFlags.ts
  src/simplex-imap/entities/mailbox/model/MailboxMessageCounts.ts
  src/simplex-imap/entities/mailbox/model/MailboxRoles.ts
  src/simplex-imap/entities/mailbox/types.ts
  src/simplex-imap/entities/types.ts
  src/simplex-imap/methods/mailboxes/__tests__/mailboxes.test.ts
  src/simplex-imap/methods/mailboxes/lib/parseMailbox.ts
  src/simplex-imap/methods/mailboxes/mailboxes.ts
  src/simplex-imap/methods/search/__tests__/search.test.ts
  src/simplex-imap/methods/search/filter-parser/lib/parsePropsFilter.ts
  src/simplex-imap/methods/select/lib/parseSelectResponse.ts
  src/simplex-imap/methods/select/select.ts
  src/simplex-imap/types.ts
Due: prettier --write, eslint ./src/. --fix

refactor: move Message class to entities folder
  src/simplex-imap/classes/Message/index.ts
  src/simplex-imap/classes/Message/types.ts
  src/simplex-imap/classes/types.ts
  src/simplex-imap/entities/message/class/Message.ts
  src/simplex-imap/entities/message/index.ts
  src/simplex-imap/entities/message/model/MessageFlag.ts
  src/simplex-imap/entities/message/model/MessageHeaderRaw.ts
  src/simplex-imap/entities/message/types.ts
  src/simplex-imap/methods/fetch/response-parser/__tests__/fetchResponseParser.test.ts
  src/simplex-imap/methods/fetch/response-parser/fetchResponseParser.ts
  src/simplex-imap/methods/fetch/response-parser/index.ts
  src/simplex-imap/methods/fetch/response-parser/lib/parseHeaders.ts
  src/simplex-imap/methods/fetch/response-parser/types.ts
  src/simplex-imap/methods/search/search.ts
Due: prettier --write, eslint ./src/. --fix

Path conditions:
  prettier --write: any of: *.{md,js,ts,mjs,mts,json}
  eslint ./src/. --fix: any of: *.{js,ts,mjs,mts}
