Repository foxhable/simplex-imap: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint ./src/. --fix

.lintstagedrc.yaml:

{
    "*.{md,js,ts,mjs,mts,json}": ["prettier --write"],
    "*.{js,ts,mjs,mts}": ["eslint ./src/. --fix"]
}

refactor: move low-level-imap to entity/imap folder
  src/low-level-imap/main.ts
  src/low-level-imap/types/connection.ts
  src/low-level-imap/types/index.ts
  src/main.ts
  src/simplex-imap/entities/imap/__tests__/parser.test.ts
  src/simplex-imap/entities/imap/class/IMAP.ts
  src/simplex-imap/entities/imap/index.ts
  src/simplex-imap/entities/imap/lib/createConnection.ts
  src/simplex-imap/entities/imap/lib/createIMAPConfig.ts
  src/simplex-imap/entities/imap/lib/disconnect.ts
  src/simplex-imap/entities/imap/lib/parseIMAPResponse.ts
  src/simplex-imap/entities/imap/lib/rawSend.ts
  src/simplex-imap/entities/imap/lib/response.ts
  src/simplex-imap/entities/imap/lib/send.ts
  src/simplex-imap/entities/imap/lib/waitStatus.ts
  src/simplex-imap/entities/imap/model/IMAPResult.ts
  src/simplex-imap/entities/imap/model/IMAPStatus.ts
  src/simplex-imap/entities/imap/model/ResponseCode.ts
  src/simplex-imap/entities/imap/model/ResponseStatus.ts
  src/simplex-imap/entities/imap/model/methods.ts
  src/simplex-imap/entities/imap/types.ts
  src/simplex-imap/entities/imap/utf7.d.ts
  src/simplex-imap/methods/fetch/fetch.ts
  src/simplex-imap/methods/login/login.ts
  src/simplex-imap/methods/search/search.ts
  src/simplex-imap/methods/select/lib/parseSelectResponse.ts
  src/simplex-imap/methods/select/select.ts
  src/simplex-imap/methods/unselect/unselect.ts
Due: prettier --write, eslint ./src/. --fix

refactor: rename prefixes in loggers
  src/logger/main.ts
Due: prettier --write, eslint ./src/. --fix

refactor: exports in package.json
  package.json
Due: prettier --write

refactor: move logger to shared folder
  src/entities/imap/class/IMAP.ts
  src/entities/imap/lib/createConnection.ts
  src/entities/imap/lib/createIMAPConfig.ts
  src/entities/imap/lib/disconnect.ts
  src/entities/imap/lib/parseIMAPResponse.ts
  src/entities/imap/lib/rawSend.ts
  src/entities/imap/lib/send.ts
  src/main.ts
  src/methods/fetch/response-parser/fetchResponseParser.ts
  src/methods/login/login.ts
  src/methods/mailboxes/lib/parseMailbox.ts
  src/methods/mailboxes/mailboxes.ts
  src/methods/search/search.ts
  src/methods/select/select.ts
  src/methods/unselect/unselect.ts
  src/shared/logger/index.ts
  src/shared/logger/logger.ts
  src/shared/logger/types.ts
Due: prettier --write, eslint ./src/. --fix

refactor: move IMAP default config to config folder
  src/entities/imap/class/IMAP.ts
  src/entities/imap/config/defaultConfig.ts
  src/entities/imap/lib/createIMAPConfig.ts
  src/entities/imap/types.ts
Due: prettier --write, eslint ./src/. --fix

chore: fix exclude of tsconfig
  tsconfig.build.json
  tsconfig.json
Due: prettier --write

feat: default port for tcp and config for tls
  src/entities/imap/config/defaultConfig.ts
  src/entities/imap/lib/createConnection.ts
Due: prettier --write, eslint ./src/. --fix

fix: defaultConfig import
  src/entities/imap/index.ts
  src/main.ts
Due: prettier --write, eslint ./src/. --fix

refactor: move SimplexIMAP to entities/imap
  src/entities/imap/class/SimplexIMAP.ts
  src/entities/imap/index.ts
  src/entities/imap/types.ts
  src/main.ts
Due: prettier --write, eslint ./src/. --fix

refactor: move specific simplex IMAP config to own interface
  src/entities/imap/class/IMAP.ts
  src/entities/imap/config/defaultConfig.ts
  src/entities/imap/index.ts
  src/entities/imap/types.ts
Due: prettier --write, eslint ./src/. --fix

chore: fix build and build:watch run configs
  package.json
Due: prettier --write

refactor: rename IMAP status to Connection status
  src/entities/imap/class/IMAP.ts
  src/entities/imap/lib/createConnection.ts
  src/entities/imap/lib/disconnect.ts
  src/entities/imap/lib/rawSend.ts
  src/entities/imap/lib/send.ts
  src/entities/imap/lib/waitConnStatus.ts
  src/entities/imap/lib/waitStatus.ts
  src/entities/imap/model/IMAPConnStatus.ts
  src/entities/imap/model/IMAPStatus.ts
Due: prettier --write, eslint ./src/. --fix

refactor: fix assign of IMAP props methods
  src/entities/imap/class/IMAP.ts
Due: prettier --write, eslint ./src/. --fix

refactor: fix assign of SimplexIMAP props methods
  src/entities/imap/class/SimplexIMAP.ts
Due: prettier --write, eslint ./src/. --fix

feat: IMAP States
  src/entities/imap/class/IMAP.ts
  src/entities/imap/class/SimplexIMAP.ts
  src/entities/imap/config/defaultConfig.ts
  src/entities/imap/index.ts
  src/entities/imap/lib/send.ts
  src/entities/imap/model/IMAPState.ts
  src/entities/imap/model/methods.ts
  src/entities/imap/types.ts
  src/methods/fetch/fetch.ts
  src/methods/login/login.ts
  src/methods/mailboxes/mailboxes.ts
  src/methods/select/select.ts
  src/methods/unselect/unselect.ts
Due: prettier --write, eslint ./src/. --fix

fix: default fetch config if empty object passed
  src/methods/fetch/config-parser/fetchConfigParser.ts
  src/methods/search/search.ts
Due: prettier --write, eslint ./src/. --fix

chore: configure git user while publish
  .github/workflows/publish.yml
Due: none

chore: fix issue with detached head while publish action
  .github/workflows/publish.yml
Due: none

chore: fix issue with git tag while publish action
  .github/workflows/publish.yml
Due: none

chore: fix wrong if statement in publish action
  .github/workflows/publish.yml
  .npmignore
Due: none

chore: fix issue with git push
  .github/workflows/publish.yml
Due: none

chore: fix permissions in publish state
  .github/workflows/publish.yml
Due: none

v0.0.4
  package.json
Due: prettier --write

fix: response of fetch method
  src/methods/fetch/fetch.ts
Due: prettier --write, eslint ./src/. --fix

v0.0.5
  package.json
Due: prettier --write

fix: issue with body parsing of fetch response
  src/methods/fetch/response-parser/lib/parseBody.ts
Due: prettier --write, eslint ./src/. --fix

v0.0.6
  package.json
Due: prettier --write
