Repository foxhable/simplex-imap: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint ./src/. --fix

.lintstagedrc.yaml:

{
    "*.{md,js,ts,mjs,mts,json}": ["prettier --write"],
    "*.{js,ts,mjs,mts}": ["eslint ./src/. --fix"]
}

docs: add license
  LICENSE
Due: none

refactor: move main/types/index.ts to main/types.ts
  src/main/classes/Mailbox/Mailbox.ts
  src/main/types.ts
Due: prettier --write, eslint ./src/. --fix

refactor: rename TenIMAPError in SimplexIMAPError
  src/main/general/error.ts
  src/main/methods/login/login.ts
  src/main/methods/mailboxes/mailboxes.ts
  src/main/methods/search/search.ts
  src/main/methods/select/select.ts
  src/main/methods/unselect/unselect.ts
Due: prettier --write, eslint ./src/. --fix

tests: add select method tests
  src/main/methods/select/select.test.ts
  src/main/methods/select/select.ts
Due: prettier --write, eslint ./src/. --fix

chore: add deno for dev
  .gitignore
  deno.json
Due: prettier --write

style: add to imports from node 'node' prefix
  src/base/main.ts
  src/base/types/connection.ts
Due: prettier --write, eslint ./src/. --fix

chore: remove deno config
  deno.json
Due: prettier --write

tests: remove unnecessary abstraction in parser of raw imap
  src/base/functions/parser.test.ts
Due: prettier --write, eslint ./src/. --fix

fix: issue in raw-imap with multiline response lines
  src/base/functions/parser.test.ts
  src/base/functions/parser.ts
  src/base/main.ts
Due: prettier --write, eslint ./src/. --fix

feat: log messages from imap
  src/base/main.ts
Due: prettier --write, eslint ./src/. --fix

feat: sequenceSet method and type
  src/main/general/sequenceSet/sequenceSet.test.ts
  src/main/general/sequenceSet/sequenceSet.ts
  src/main/general/types.ts
  src/main/methods/search/types.ts
Due: prettier --write, eslint ./src/. --fix

feat: fetch config parser with tests
  src/main/methods/fetch/__tests__/fetchConfigParser.test.ts
  src/main/methods/fetch/fetchConfigParser.ts
  src/main/methods/fetch/types.ts
  src/main/methods/types.ts
Due: prettier --write, eslint ./src/. --fix

tests: add tests to fetch response parser
  src/main/classes/Message/types.ts
  src/main/classes/types.ts
  src/main/methods/fetch/__tests__/fetchResponseParser.test.ts
  src/main/methods/fetch/fetchResponseParser.ts
  src/main/methods/fetch/types.ts
Due: prettier --write, eslint ./src/. --fix

feat: parsers of address from envelope and headers, tests for parsers
  src/main/methods/fetch/__tests__/addressParser.test.ts
  src/main/methods/fetch/addressParser.ts
Due: prettier --write, eslint ./src/. --fix

feat: fetch response parser exclude body
  src/main/methods/fetch/contentTypeParser.ts
  src/main/methods/fetch/fetchResponseParser.ts
  src/main/methods/fetch/types.ts
Due: prettier --write, eslint ./src/. --fix

test: fix names in fetch response parser tests
  src/main/methods/fetch/__tests__/fetchResponseParser.test.ts
Due: prettier --write, eslint ./src/. --fix

feat: parsing of full body and body section from fetch response
  src/main/methods/fetch/__tests__/fetchResponseParser.test.ts
  src/main/methods/fetch/contentTypeParser.ts
  src/main/methods/fetch/fetch.ts
  src/main/methods/fetch/fetchResponseParser.ts
  src/main/methods/fetch/types.ts
Due: prettier --write, eslint ./src/. --fix

feat: parsing body mime from fetch response
  src/main/methods/fetch/__tests__/fetchResponseParser.test.ts
  src/main/methods/fetch/fetchResponseParser.ts
Due: prettier --write, eslint ./src/. --fix

feat: fetch method
  src/main.ts
  src/main/classes/Mailbox/Message.ts
  src/main/classes/Mailbox/SelectedMailbox.ts
  src/main/methods/search/search.ts
Due: prettier --write, eslint ./src/. --fix

chore: add repository link to package.json
  package.json
Due: prettier --write

chore: add npm registry
  .npmrc
Due: none

chore: add npmignore file
  .gitignore
  .npmignore
Due: none

chore: add main and exports in package.json
  package.json
Due: prettier --write

chore: exclude dev-test.ts from build
  tsconfig.build.json
Due: prettier --write

ci: add build stage to publish action
  .github/workflows/publish.yml
Due: none

ci: add publish github action
  .github/workflows/publish.yml
Due: none

ci: fix issue with git config in publish action
  .github/workflows/publish.yml
Due: none

ci: fix when before commit nothing added to index in publish action
  .github/workflows/publish.yml
Due: none

ci: fix issue with creating tag in publish action
  .github/workflows/publish.yml
Due: none

ci: remove git show while push version commit on publish action
  .github/workflows/publish.yml
Due: none

ci: fix issue with branch name in publish action
  .github/workflows/publish.yml
Due: none

ci: fix issue with branch ref in publish action
  .github/workflows/publish.yml
Due: none

chore: add prepublishOnly script
  package.json
Due: prettier --write

ci: remove changing version in publish action
  .github/workflows/publish.yml
Due: none

v0.0.1-beta.0
  package.json
Due: prettier --write

ci: debug publish action
  .github/workflows/publish.yml
Due: none

chore: remove prepublishOnly script
  package.json
Due: prettier --write

ci: fix if statements in publish action
  .github/workflows/publish.yml
Due: none
